/* global styles */
/* https://www.w3schools.com/colors/colors_picker.asp */
/* remove default margin and padding and set the height to 100% of the viewport height */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:roboto, Verdana, sans-serif; 
  }
  
*, *:before, *:after {
    box-sizing: inherit;
  }
  
/* set up some base colours to use - can easily change them later*/


/* deciding back and forth between colours
creating variables for the colour scheme
*/
:root{
    --main-color: #a32751;
    --secondary-color2:#B9502C;
    --secondary-color:#1F8152;
    --complement-color:#65A628;
}
  
   
    
    /* Style the body  remove default margin and padding*/
body {
  margin: 0;
  padding:0;
  
 
}
/* changing the colour and size of the main heading 1 tags */
 h1 {color: var(--main-color);
font-size: 2rem;
font-weight: bolder;}

li{
    list-style-type: none; /* remove the bullet points from list items and adding some padding */
    padding:10px;
}

ul{
    margin:0; /* remove the default margin for ul */
}

.a {
    text-decoration: none;  /* no underlines for links */
  }

/* chnages the colour of the buttons on hover for this class */
.button:hover{
  background-color: #cb376a;
  border: 1px solid #db7598;
  color: white;
  transform: translateY(2px);
  }


/* --- HEADER --- */
.main-header, header{
   background-color: #ae2d59;
   background: linear-gradient(180deg,#5f0020 , #851138, #a32751, #b6476e, #de7898);
   /*  make the header a flex container so that the nav bar and log are flex items 
   have the flex items centered with space around, */
    display:flex;
    padding:5px;
    justify-content: space-around;
    text-align:center;  
    font-size:1.1rem; 
    margin: 2px;
  }
  
  /* Styling the navigation bar at the top of the page */
  /* make the nav bar a flex container with its direct children being flex items */
  /* make the nav list a flex container  */
  
  nav, .navbar ul{
    display:flex;   /* set as a flex container */
    flex-wrap: nowrap;
    list-style-type: none;   /* remove bullets */
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;  
    min-height: 12vh; /* set a min height in relation to the viewport height */
    flex:1;  /* equal width to nav links */
 }

  /* give the nav links flex give them more space than the social link icons when space is short*/
  .navbar li {
    flex:3;
  }
  /* giving the social icons less space than the list items when space is short*/
  .navbar .social {
    flex:1;
  }

  /* Styling the navigation bar links */
.navbar a{
  color:var(--secondary-color);
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
}
    
  /* Change color and add rounded corners on hover  */
  nav a:hover {
    background-color:var(--main-color);
    color:var(--complement-color);
    border-radius: 10%;
    font-size: 1.2rem;
  }

/* This class is a Flex wrapper container for all the content including the header, main and footer 
stack the items in this container vertically from top to bottom 
the items will wrap when required by space 
the width of the container is the full width of the viewport window*/
  
  .wrapper {     
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 100vw;   
    margin: 0;
    padding: 0;  
    
  }
  
  /* This class is for the main content of the page, not excluding the header and the footer.
  Giving it a flex value of 1 while the other child items(header and footer have default value of 0) so that main
will take up the leftover space after taking into account the space needed for main, header and footer */
  /* Main column - note this is a flex item but also a flex container itself which will contain other elements
  It wil take up most of the viewport window height with some padding included and some margin
  */
  main {
    flex:1; 
    border: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex; /* make flex container and set to column */
    flex-direction: column;
    width: 95%;
    margin: 2%;
    padding: 2%;
    height: 98vh;
    
  }

/* for any pages that require articles and sections 
An article will be a flex container, with the sections as the flex child elements
items will be stacked vertically and wrap.
Sections can also be flex containers of other elements
*/

article{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

  section {
    flex-direction: column;
    border: none;    
    text-align: left;
    background-color: none;
    overflow:scroll;
    font-size: 0.9rem;
    background-color: azure;
  }


/* ---------------------*/
/* Adding a hero image (a front page main picture) which takes up most of the home page, have it all centered using flex properties
I don't want the image repeating but to take up the full height of the viewport */
.hero {	
	display:flex;
	justify-items: center;
	align-content: center;
  justify-content: center;
  
/* add the background image, don't repeat, centre using flex properties */  
  background: url("../img/treebw.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  height: 100vh; 
  width: 100vw;  
  color:#fff;
  font-weight: bolder;
}

/* styling the title and subtitles that appears over the background hero image on home page
will decide on the colours later, make them bold and centered*/
.hero-title{
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
   }
  /* styling the main headings and the hero subtitle (if any will be used) */
  .hero-subtitle{
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    text-align: center;
    
  }
  /* styling the button on the home  page, setting colours, sizes, fonts and position in centre*/
  .hero-button{
    background-color: var(--main-color);
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 200;
    cursor: pointer;
    border-radius: 12px;
    align-self: center;
  }
  /* styling the button on hover */
  .hero-button:hover{
    background-color: #cb376a;
    border: 1px solid #db7598;
  }

/* style the input elements for forms to give some space at the bottom  */
input{
  
  margin-bottom: 10px;
  
}

/* styling the login and register buttons but not as big as the hero button above*/
.input-button {
  background-color: var(--main-color);
  color: white;
  border: 1px solid #cb376a;
    margin-top: 2rem;
    padding: 0.8rem 1.1rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 200;
    cursor: pointer;
    border-radius: 12px;
    align-self: center;
}

/* styling the button on hover */
.input-button:hover{
  background-color: #cb376a;
  border: 1px solid #db7598;
}

/* styling the forms for logging in and registering */
form{
  background-image: url("../img/bigtreefade.jpg");  
  /* make this flexbox so children are flex items */
  display: flex;
  /*lay children out vertically*/
  flex-direction: column;
  /* keep children grouped together in the center */
  justify-content: center;
  /* align along center of the column */
  align-items: center;
  min-height: 300px;
  padding: 100px;
 
}
/*  styling the footer - still decising on the colour scheme!*/
.main-footer, footer{
  background: linear-gradient(180deg,#5f0020 , #851138, #a32751, #b6476e, #de7898);
  background: linear-gradient(to bottom,var(--main-color) 0%,#de7898 100%);
    /* again using a flex container and adding some styling, centering the  */
    display:flex;
    text-align: flex-start;
    justify-content: space-around;
    align-items: center;
    color:var(--complement-color);
    max-height: 10vh;
    padding: 0% 5%;
 }


 /* set up a class for card type sections but not using them after all for now------------------------*/
 .cards{
  display: flex; /* create a flex container for the project cards*/
  flex-direction:row;/* */
  flex-wrap: nowrap; /* cards side by side */
  justify-content:space-around;/*set spacing between and around the cards*/
  width: 90vw;
  
}
.card{
  flex:1;/* have all card items as equal width*/
  margin:20px; /* set a margin around each card */
  background-color:#fff; /* light gray around the edge */
  padding: 15px;  /*some padding */
  /*box-shadow:1px 1px; /* set horizontal and vertical offsets */
}
.card h2{
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--complement-color);
  text-align: center;
}
.card img{
  margin: 10px;
  width:80%;
  opacity:0.5;

}
/* set opacity for image on hover */
.card img:hover{
  opacity: 1;
}


.card p{
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: var(--secondary-color);
  
}
/*  have the cards stack vertically for smaller screens*/
@media screen and (max-width: 700px){
  .cards{
    flex-direction:column;/* change from rows to columns for small screens */
    flex-wrap:wrap;/* wrap the cards*/
    
  }


  
/* this was for visualisations */
     
  rect:hover{fill:black;}

    .highlight{
        fill:var(--secondary-color);
  
    }    
    
    .title{
        fill:var(--main-color);
        font-weight: bold;
    }



/*  media queries for different size screens*/  
@media all and (max-width:1000px) {
    
    .navbar ul {
      flex-wrap:wrap;
    }
  
    .navbar li {
      flex:1 1 50%;
    }
  /* let the items grow and shrink at same rate but give social icons less of the space */  
    .navbar .social {
      flex:1 1 25%;
    }  
  }
  /*  let the links take up all the width for small screens*/
  @media all and (max-width:500px) {    
    .navbar li {
      flex-basis:100%;
    }  
  }